# Access Code (अपने LobeChat एप्लिकेशन को लॉक करने के लिए)
# ACCESS_CODE=lobe66

# API Key Selection Method (random या turn)
API_KEY_SELECT_MODE=turn

########################################
######## Model Provider Service ########
########################################

### Google AI ###
ENABLED_GOOGLE=1  # Google AI सेवा सक्षम (enable)
GOOGLE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

### DeepSeek AI ###
ENABLED_DEEPSEEK=1  # DeepSeek AI सेवा अक्षम (disable)
DEEPSEEK_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

### Qwen AI ###
ENABLED_QWEN=1  # Qwen AI सेवा अक्षम (disable)
QWEN_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

### Mistral AI ###
ENABLED_MISTRAL=1   # Mistral AI सेवा अक्षम (disable)
MISTRAL_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

### Groq ###
ENABLED_GROQ=1  # Groq सेवा अक्षम (disable)
GROQ_API_KEY=gsk_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

### 01.AI ###
ENABLED_ZEROONE=0  # 01.AI सेवा अक्षम (disable)
# ZEROONE_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

### TogetherAI ###
ENABLED_TOGETHERAI=1  # TogetherAI सेवा अक्षम (disable)
TOGETHERAI_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

########################################
############ Market Service ############
########################################
AGENTS_INDEX_URL=https://chat-agents.lobehub.com

########################################
############ Plugin Service ############
########################################
PLUGINS_INDEX_URL=https://chat-plugins.lobehub.com
PLUGIN_SETTINGS=search-engine:SERPAPI_API_KEY=xxxxx

### OpenAI ###
ENABLED_OPENAI=0  # OpenAI सेवा अक्षम (disable)
# OPENAI_API_KEY=sk-xxxxxxxxx
# OPENAI_PROXY_URL=https://api.openai.com/v1
# OPENAI_MODEL_LIST=gpt-3.5-turbo

### Azure OpenAI ###
ENABLED_AZURE_OPENAI=0  # Azure OpenAI सेवा अक्षम (disable)
# AZURE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# AZURE_ENDPOINT=https://docs-test-001.openai.azure.com
# AZURE_API_VERSION=2024-06-01

### Anthropic ###
ENABLED_ANTHROPIC=0  # Anthropic सेवा अक्षम (disable)
# ANTHROPIC_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# ANTHROPIC_PROXY_URL=https://api.anthropic.com

### AWS Bedrock ###
ENABLED_AWS_BEDROCK=0  # AWS Bedrock सेवा अक्षम (disable)
 AWS_REGION=us-east-0
# AWS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxx
# AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

### Ollama AI ###
ENABLED_OLLAMA=0  # Ollama सेवा अक्षम (disable)
# OLLAMA_PROXY_URL=http://127.0.0.1:11434
# OLLAMA_MODEL_LIST=your_ollama_model_names

### OpenRouter ###
ENABLED_OPENROUTER=0  # OpenRouter सेवा अक्षम (disable)
# OPENROUTER_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# OPENROUTER_MODEL_LIST=model1,model2,model3

### Perplexity ###
ENABLED_PERPLEXITY=0  # Perplexity सेवा अक्षम (disable)
# PERPLEXITY_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

### ZhiPu AI ###
ENABLED_ZHIPU=0  # ZhiPu AI सेवा अक्षम (disable)
# ZHIPU_API_KEY=xxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxx

### Moonshot AI ###
ENABLED_MOONSHOT=0  # Moonshot AI सेवा अक्षम (disable)
# MOONSHOT_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

### Minimax AI ###
ENABLED_MINIMAX=0  # Minimax AI सेवा अक्षम (disable)
# MINIMAX_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

### Cloudflare Workers AI ###
ENABLED_CLOUDFLARE=0  # Cloudflare Workers AI सेवा अक्षम (disable)
# CLOUDFLARE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# CLOUDFLARE_BASE_URL_OR_ACCOUNT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

### SiliconCloud AI ###
ENABLED_SILICONCLOUD=0  # SiliconCloud AI सेवा अक्षम (disable)
# SILICONCLOUD_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

########################################
####### Doc / Changelog Service ########
########################################
# DOC_S3_PUBLIC_DOMAIN=https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# DOC_S3_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# DOC_S3_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

########################################
##### S3 Object Storage Service ########
########################################
# S3_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# S3_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# S3_BUCKET=lobechat
# S3_ENDPOINT=https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxx.r2.cloudflarestorage.com
# S3_PUBLIC_DOMAIN=https://s3-for-lobechat.your-domain.com
# S3_REGION=us-west-1

########################################
############ Auth Service ##############
########################################
# NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_live_xxxxxxxxxxx
# CLERK_SECRET_KEY=sk_live_xxxxxxxxxxxxxxxxxxxxxx
# CLERK_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxx
# NEXT_AUTH_SECRET=
# AUTH_AUTH0_ID=
# AUTH_AUTH0_SECRET=
# AUTH_AUTH0_ISSUER=https://your-domain.auth0.com

########################################
########## Server Database #############
########################################
# NEXT_PUBLIC_SERVICE_MODE=server
# DATABASE_URL=postgres://username:password@host:port/database
# KEY_VAULTS_SECRET=xxxxx/xxxxxxxxxxxxxx=
